.breadcrumbs .items {
    font-size: 14px;
    color: #001432;
    margin: 0;
    padding: 0;
    list-style: none none;
    display: flex;
}
.breadcrumbs .item:not(:last-child) {
    display: inline-block;
    text-decoration: none;
}
.breadcrumbs .items > li {
    display: inline-block;
    vertical-align: top;
}
.breadcrumbs .items .item:after {
    vertical-align: middle;
    color: #001432;
    opacity: 0.4;
    margin: 0 5px;
}
.breadcrumbs .items .item a {
    color: #001432;
}
.breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 18px;
    content: "\f105";
    font-family: FontAwesome;
    vertical-align: top;
    font-weight: 600;
    text-align: center;
}
.breadcrumbs {
    padding: 10px 0;
}