.find-door-setp-sec{
    padding: 70px 0 0;
    background: #e1ece4;
}
.find-door-setp-sec h3 {
    font-size: 30px;
    color: #142D1E;
    font-weight: 500;
}
.block.block-title strong {
    font-weight: 400;
}

.find-door-setp-sec .block.block-title {
    margin-bottom: 15px;
}
.find-door-setp-sec .block.block-search {
    float: left;
}

.find-door-setp-sec .block.block-title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #142D1E;
    margin-bottom: 40px;
}

.block.block-content {
    position: relative;
}

.find-door-setp-sec #search {
    background: transparent;
    border: 1px solid #142d1e;
    font-size: 15px;
    font-weight: 400;
    color: #142D1E;
    padding: 1.2em;
}
.find-door-setp-sec #search::placholder{
     color: #142D1E;
}
.find-door-setp-sec .block-search .action.search:before{
    color: #253c2f;
}
.find-door-setp-sec .pageicons {
    min-height: 281px;
    background: url(../images/freshest-deliver.png) no-repeat;
}