@font-face {
    font-family: 'BasisGrotesquePro-Regular';
    src: url('fonts/BasisGrotesquePro-Regular.svg#BasisGrotesquePro-Regular') format('svg'),
         url('fonts/BasisGrotesquePro-Regular.ttf') format('truetype'),
         url('fonts/BasisGrotesquePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FontsFree-Net-BasisGrotesquePro-Regular';
    src: url('fonts/FontsFree-Net-BasisGrotesquePro-Regular.eot');
    src: url('fonts/FontsFree-Net-BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/FontsFree-Net-BasisGrotesquePro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'BasisGrotesquePro-Regular' !important;   
}
body{
    font-family: 'BasisGrotesquePro-Regular' !important; 
    font-size: 14px !important;  
}
