.page-footer {
    background-color: #152d1f;
    margin-top: auto;
}


.footer.content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1736px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.footer.content  .row{
     box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100%;
    width:100%;
}

.pagebuilder-column {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    width: 25%;
    margin: 0px;
    padding: 10px;
    align-self: stretch;
}
.footer.content .footer-section .footer-item li a, .footer.content .footer-section .footer-item a {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    transition: linear .1s;
}
.footer.content .footer-section .footer-item li a:hover, .footer.content .footer-section .footer-item a:hover{
    color: #ec4b3c;
}
.back-top #scroll {
    position: fixed;
    bottom: 44px;
    right: 30px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #fff;
    padding: 25px 14px 6px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff5041;
    z-index: 999999;
    text-decoration: none;
}
.back-top #scroll:before {
    display: inline-block;
    font-family: FontAwesome;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F077";
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 21px;
}
.footer.content .footer-section .footer-item:nth-of-type(1) p {
    margin-bottom: 0;
}
.footer.content .footer-section .footer-item p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    line-height: 1.5em;
}
.footer.content .footer-section h3{
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.pagebuilder-column-group {
    display: flex;
    flex-wrap: wrap;
}

.pagebuilder-column:nth-child(2), .pagebuilder-column:nth-child(3) {
    width: 16.6667%;
}

.footmenu .footer-item ul {
    padding: 0;
}

.footmenu .footer-item ul li, .footer-item ul li {
    padding-bottom: 5px;
}
.footer-item ul{
  padding:0;  
}
.pagebuilder-column:nth-child(4){
    width: 41.6667%;
}
.block.newsletter {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.block.newsletter .title {
    display: none;
}
.block .title {
    margin-bottom: 10px;
}
.block.newsletter .form.subscribe {
    width: 100%;
}
.block.newsletter .field {
    margin-right: 5px;
}
.block.newsletter .field {
    margin: 0;
}
.block.newsletter .field .control {
    width: 100%;
}
.block.newsletter .field .control {
    display: block;
}
.block.newsletter .label{
border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.block.newsletter input {
    padding-left: 13px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    background: transparent;
    border-color: #fff;
    border-radius: 0;
    box-shadow: none;
}
.block.newsletter input::placeholder{
    color:#fff;
}
.footer.content .footer-section .footer-item .block.newsletter .action.subscribe {
    background: #ffffff;
    border-color: #ffffff;
    color: #001432;
    padding: 0.7em 1em;
    margin: 10px 10px 10px 0;
    font-size: 15px;
    font-weight: 500;
    min-width: 110px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    user-select: none;
    text-align: center;
    transition: background 0.1s ease, color 0.1s ease, border 0.1s ease;
}
.block.newsletter .field .control label {
    width: 100%;
}
.footer .copyright {
    display: block;
    margin-top: 40px;
    margin-bottom: 75px;
}
.footer .copyright span {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
   
}
.footer .copyright .footer-copyright .footer-copyright-text p {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;
    max-width: 540px;
    text-align: left;
}
.footer-copyright .pagebuilder-column-group .footer-copyright-text {
    width: 75%;
}
.footer .footer-socials-list .footer-social-icons ul{
    display:flex;
}
.footer .footer-socials-list .footer-social-icons ul li {
    margin-right: 7px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.footer .footer-socials-list .footer-social-icons ul li a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
}
.footer .footer-socials-list .footer-social-icons ul li a:hover i {
    color: #ec4b3c;
}
.footer .footer-socials-list .footer-social-icons ul li a .fa {
    font-size: 24px;
    color: #001432;
}

.pagebuilder-column-group {
    width: 100%;
}

.pagebuilder-column.footer-socials-list {
    width: 25%;
}

.copyright, .footer-copyright {
    width: 100%;
}
@media only screen and (max-width:768px){

    .pagebuilder-column {
        width: 50%;
    }
    
    .footer.content {
        padding: 0 15px;
    }
    
    .pagebuilder-column:nth-child(2) {
        width: 50%;
    }
    
    .pagebuilder-column:nth-child(3), .pagebuilder-column:nth-child(4) {
        width: 100%;
    }
    
    .footer.content .row {
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    
    .footer-copyright {
        padding: 0 15px;
    }
    
    .footer .copyright {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .footer .footer-socials-list .footer-social-icons ul {
        padding-left: 0;
    }
    
    .pagebuilder-column.footer-socials-list {
        padding: 15px 0;
    }
}