
img, object, video, embed {
    max-height: 100%;
    max-width: 100%;
}
a:visited, .alink:visited {
    color: #001331;
    text-decoration: none;
}
a:active, .alink:active {
    color: #ff5041;
    text-decoration: none;
}
a, .alink {
    color: #001331;
    text-decoration: none;
}
ul, ol {
    list-style:none;
}
:focus {
    outline: none !important;
}

.page-header {
    background-color: #ff5041;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 991;
    position: fixed;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}

.header.content {
    position: relative;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.nav-toggle {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
}
.nav-toggle > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.logo {
    float: left;
    max-width: 50%;
    position: relative;
    z-index: 5;
}
.logo img {
    display: block;
}
.logo.arabic {
    display: none;
}
.nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-top: 25px;
}
.nav-sections-item-content {
    display: block !important;
}
.nav-sections-item-content > .navigation {
    display: block;
}
.navigation {
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navigation .level0 {
    display: inline-block;
    position: static;
    margin: 0;
}
.navigation .level0 > .level-top {
    color: #ffffff;
    line-height: 64.2px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: static;
    display: inline-block;
}
.navigation .level0 .menu-left {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 10px 68px;
    z-index: 99;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    height: 100vh;
}
.navigation .level0:hover .menu-left {
    display: block;
}
.navigation .level0 .menu-left > ul.menu-links {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px 0 0 0;
}

.navigation ul {
    padding: 0 8px;
}

.navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: static;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent.active {
    font-weight: 700;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent {
    font-size: 15px;
    font-weight: 500;
    color: #001432;
    margin-bottom: 14px;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent.active {
    font-weight: 700;
}

.navigation .level0 .menu-left > ul.menu-links > li.menu-parent {
    font-size: 15px;
    font-weight: 500;
    color: #001432;
    margin-bottom: 14px;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent.active .menu-right {
    opacity: 1;
    visibility: visible;
}

.header.content .right-container-wrap .header.links {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 14px;
    padding: 0;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-flow: row-reverse;
    position: relative;
}
.header.content .right-container-wrap .header.links [data-content-type='row'][data-appearance='contained'] {
    margin: 0 !important;
    display: none;
    max-width: 100%;
}
.header.content .right-container-wrap .header.links li.authorization-link {
    position: relative;
    margin-right: 0;
}
.header.content .right-container-wrap .header.links li {
    margin-bottom: 0;
}
.header.content .right-container-wrap .header.links li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}
.header.content .right-container-wrap .header.links li.authorization-link a img {
    width: 18px;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links {
    top: 100%;
    right: 0;
    z-index: 999;
    display: none;
    width: 200px;
    background: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links ul {
    margin: 0;
    padding: 0;
    list-style: none none;
    text-align: center;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links ul li {
    margin: 0 0 10px 0;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links ul > li {
    display: inline-block;
    vertical-align: top;
}
.header.content .right-container-wrap .header.links li.authorization-link {
    position: relative;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links ul li a {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}
.header.content .right-container-wrap .header.links li.greet.welcome {
    padding: 0 7px;
}
.header.content .right-container-wrap .header.links li {
    margin-bottom: 0;
}
.page-header .switcher {
    display: inline-block;
    margin: 0;
}
.page-header .switcher strong {
    color: #ffffff;
    font-size: 14px;
}
.page-header .switcher .options, .page-footer .switcher .options {
    display: inline-block;
    position: relative;
}
.header.content .right-container-wrap .header.links li {
    margin-bottom: 0;
}
.page-header .switcher li, .page-footer .switcher li {
    font-size: 12px;
    margin: 0;
    border: 1px solid transparent;
}
.header.content .right-container-wrap .header.links li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}
.page-header .switcher li a, .page-footer .switcher li a {
    text-decoration: none;
    padding: 3px 12px;
    display: block;
}
.minicart-wrapper .block-minicart {
    float: right;
    background: #fff;
    display: none;
    bottom: 0;
    right: -100%;
    position: fixed;
    top: 0;
    transition: right 0.4s ease-in-out 0s;
    z-index: 999;
    width: 385px;
    min-width: 385px;
    margin: 0;
    border: none;
    border-left: 1px solid #ccc;
    box-shadow: none;
    transform: translateX(0px);
    padding: 25px 20px;
}
.mainmenu {
    display: none;
}

.page-header .switcher strong {
    display: none;
}
.header.content .right-container-wrap .header.links li.authorization-link .my-account-links {
    top: 100%;
    right: 0;
    z-index: 999;
    display: none;
    width: 200px;
    background: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
}
.login-overlay {
    position: absolute;
    top: 35px;
    right: 68px;
    z-index: 999;
    display: none;
    width: 310px;
    background: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0;
}
.login-overlay a {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 14px;
    color: #001432;
}
.login-overlay p {
    font-size: 16px;
    margin-top: 0.5rem;
    color: #001432;
}
.login-overlay .popup-login-form .fieldset {
    margin-bottom: 0;
}
.login-overlay .popup-login-form .fieldset .field {
    margin-bottom: 20px;
}
.login-overlay .popup-login-form .fieldset .field input {
    margin-bottom: 10px;
}
.login-overlay .popup-login-form .fieldset .field .forgot {
    width: 100%;
    margin-bottom: 10px;
}
.login-overlay a {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 14px;
    color: #001432;
}
.login-overlay .popup-login-form .fieldset .field .login.primary {
    float: right;
    margin-bottom: 1.5rem;
}
.action.primary {
    background-image: none;
    background: #001331;
    border: 1px solid #001331;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    transition: linear .4s;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 0 9px;
    border: 1px solid #20314b;
    border-radius: 0;
    font-size: 16px;
    color: #001432;
    padding: 0 15px;
    background: #ffffff;
    background-clip: padding-box;
    height: 32px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.428571429;
}
textarea {
    background: #ffffff;
    background-clip: padding-box;
    font-family: 'Basis Grotesque Pro', Arial, Helvetica, sans-serif;
    height: auto;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #20314b;
    border-radius: 0;
    font-size: 16px;
    color: #001432;
}
.minicart-wrapper {
    margin-left: 13px;
}
.minicart-wrapper {
    display: inline-block;
    position: relative;
    float: right;
}
.minicart-wrapper .action.showcart {
    white-space: nowrap;
    position: relative;
}
.minicart-wrapper .action.showcart {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.minicart-wrapper .action.showcart::before {
    background: url(../images/cart.svg) no-repeat;
    background-position: right;
    font-size: 0;
    width: 25px;
    height:35px;
    margin-left: 10px;
    display: table;
}
.minicart-wrapper .action.showcart:before {
    line-height: 35px;
    margin: 0;
    content: "";
    vertical-align: top;
    display: inline-block;
}
.block-search {
    float: right;
    position: relative;
    width: 220px;
    z-index: 4;
}
.block-search .block-title {
    display: none;
}
.block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 13px;
}
.block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
    background: none;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    outline:none;
}
.block-search input::placeholder{
   color:#fff;
}
.block-search .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
}

.field.search .label {
    display: none;
}

.header.content.header-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1736px;
    padding-left: 68px;
    padding-right: 68px;
    width: auto;
}

.block-search .action.search::before {
    color: #ffffff;
}
.block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    content: "\f002";
    font-family: FontAwesome;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
}
.block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.minicart-wrapper .action.showcart .text{
        border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.navigation .level0 .menu-left > ul.menu-links {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px 0 0 0;
    list-style:none;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent {
    font-size: 15px;
    font-weight: 500;
    color: #001432;
    margin-bottom: 14px;
    list-style:none;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right {
    position: absolute;
    width: calc((100% - 215px));
    height: auto;
    min-height: 100%;
    left: 215px;
    top: 0;
    border-left: 1px solid #001432;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right {
    padding: 0;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level > ul {
    flex-basis: 25%;
    width: 25%;
    padding: 0 0 0 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    list-style:none;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level > ul > li {
    margin-bottom: 47px;
    list-style: none;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level > ul > li > a {
    color: #001432;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;

}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level > ul > li ul > li > a {
    color: #001432;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
}
.delivery-container {
    padding-top: 89px;
    border-bottom: 1px solid #e1e2e6
}

.free-delivery-textmain {
    text-align: center;
}
.free-delivery-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ff5041;
    line-height: 2.2;
    text-align: center;
    display: inline-block;
}
.delivery-container > div > div .free-delivery-text img {
    float: right;
    margin-left: 10px;
    margin-top: 4px;
}

.free-delivery-text-main {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0px;
    padding: 5px 0px;
}
@media (min-width: 768px){
.nav-toggle {
    display: none;
    
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .header.content.header-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-header .header.content .logo {
        max-width: 20%;
    } 
    .minicart-wrapper {
        margin-bottom: 10px;
    }
    .page-header .header.content .right-container-wrap .header.links {
        margin-bottom: 10px;
    }
    .right-container-wrap .block.block-search {
        max-width: 220px;
        width: 78%;
    }
    .nav-sections .nav-sections-item-content .navigation .nav-main ul .level0 > .level-top {
        font-size: 12px;
        padding: 0 5px;
    }
    }
    
 
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100% !important;
        padding: 0 60px !important;
    }
    }