.subtext {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #001432;
    padding: 0 5px;
    max-width: 50%;
    width: 100%;
    margin: 0 auto 30px;
}
.image img {
    max-width: 227px;
}

.image {
    width: 100%;
    text-align: center;
    min-height: 286px;
}

.how-it-image-sec {
    padding: 30px 60px;
}

.list-description .title h3 {
    font-size: 30px;
    color: #001432;
    font-weight: 600;
}

.description p {
    font-size: 15px;
    color: #001432;
    font-weight: 400;
}
.product-display.how-it-works-product .add-to-cart.actions-primary button {
    font-size: 14px;
}

.product-display.how-it-works-product .product-desc .product-price {
    min-height: 70.3px;
    position: relative;
}

.product-display.how-it-works-product .product-desc h4 {
    padding: 0 !important;
}

.product-display.how-it-works-product .product-desc h4 a{
    color:#000;
}
.block-title.title {
    text-align: center;
    margin-bottom: 30px;
}

.block-title.title h2 {
    padding-bottom: 5px;
    margin: 0;
    color: #142D1E;
    font-weight: 600;
    font-size: 44px;
}

.block-title.title span {
    color: #142D1E;
    font-weight: 500;
    font-size: 20px;
}
.how-it-works .after-shop {
    background: #ffffff;
}
.action.primary:hover {
    background: #0f3d80;
    border: 1px solid #0f3d80;
    color: #ffffff;
}
