@media only screen and (max-width:768px){
    .top-images-content.greenbg, .top-images-content.bluebg {
        padding: 15px;
    }
    .banner-slider .banner-slider-content {
        bottom: 20px;
        left: 17px;
    }
    .banner-slider .banner-slider-content h1 {
        font-size: 24px;
    }
    .banner-slider .banner-slider-content p {
        font-size: 14px;
        box-sizing: border-box;
        padding-right: 20px;
    }

    .owl-dots {
            right: 0;
            width: 50%;
            left: unset;
    }
  
    .aboutsec .top-images-content {
        padding: 15px;
    }
    .col-md-3.col-sm-6.col-xs-6 {
        width: 50%;
    }
    
    .col-sm-3.gallery-img-holder {
        width: 50%;
        margin-bottom: 20px;
    }
    
    .pick-cart-items li {
        width: 50% !important;
    }
    
    .pick-cart-items {flex-wrap: wrap;}
    
    .explres-sec .poutryimage {
        height: 175px;
        background-position: center;
    }
    
    .pageicons {
        min-height: 225px !important;
        background-size: contain !important;
    }
    
    .col-md-3.pd-0 {
        width: 50%;
    }
    
    .makaninext, .makani-about-next, .top-images-content, .makaninextthird, .makaninextfourth {
        min-height: 200px;
        background-size: cover;
    }
    
    .top-images-content a {
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .top-images-content p {
        margin-bottom: 0;
        font-size: 14px;
    }
    
    .makaninext {
        background-size: 150px;
    }
    
    .wedohome h2 {
        font-size: 26px;
    }
    
    .makani-icon h4 {
        font-size: 20px;
    }
    
    .product-display-head h3 {
        font-size: 24px;
    }
    
    .product-sub-head {
        font-size: 16px;
    }
    
    .nav.nav-pills.gallery-filters {
        padding-top: 0;
    }
    
    .newsletter-explore .best-deals-title {
        font-size: 24px;
    }
    
    .find-door-setp-sec h3 {
        font-size: 24px;
    }
  
    .explres-sec .title h3 {
        max-width: 100%;
        font-size: 24px;
    }
    
}
