@media only screen and (max-width:767px){
    .header.content {
        padding: 15px !important;
    }
    .delivery-container {
        padding-top: 75px;
    }
    .header.content .nav-toggle {
        top: 11px;
    }
    .header.content .nav-toggle:before {
        font-size: 32px;
        color: #ffffff;
    }
    .nav-toggle:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 28px;
        line-height: inherit;
        color: #8f8f8f;
        content: "\f0c9";
        font-family: FontAwesome;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
    }
    .header.content .logo {
        max-width: 50%;
        padding-left: 45px;
    }
    .header.content .logo img {
        width: 100%;
        height: 50px;
        margin: 0;
    }
    .nav-sections {
        -webkit-overflow-scrolling: touch;
        transition: left 0.3s;
        height: 100%;
        left: -100%;
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(100%);
        background: #f5f5f5;
        z-index: 999;
        margin: 0;
    }
    .sections.nav-sections.green {
        left: 0;
    }
    .nav-sections .header.links .menu-wrapper .top-menu.login-wrapper-conatiner, .nav-sections .header.links .menu-wrapper .top-menu.signup-wrapper-container {
        background: #152d1f;
        color: #fff;
        font-weight: 600;
        border-radius: .4rem;
        padding: 0 10px;
        white-space: nowrap;
    }
    .nav-sections .header.links .menu-wrapper .top-menu.login-wrapper-conatiner a, .nav-sections .header.links .menu-wrapper .top-menu.signup-wrapper-container a {
        color: #fff;
        font-weight: 600;
    }    
    .nav-sections .header.links .menu-wrapper .or {
        font-size: 20px;
        padding: 10px;
        font-weight: 600;
    }
    .nav-sections .header.links .menu-wrapper .top-menu a {
        padding: 0;
        font-size: 13px;
    }
.nav-sections .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.nav-sections .header.links .menu-wrapper {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    position: relative;
    margin: 10px 0;
}
.nav-sections .header.links .menu-wrapper .top-menu.close-icon {
    position: relative;
    background: #ff5041;
    border-radius: .4rem;
    margin: 0 1.5rem;
    color: #fff;
}
.nav-sections .header.links .menu-wrapper .top-menu {
    min-height: 50px;
    line-height: 50px;
    flex-basis: 20%;
    text-align: center;
    width: 20%;
    height: 50px;
}
.nav-sections-item-content {
    box-sizing: border-box;
    float: none;
    width: 100%;
}
.navigation {
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 0;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation .nav .nav-main ul .level0:first-child {
    border-top: 0;
}
.navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 14px;
    position: relative;
    display: block;
}

.navigation li {
    margin: 0;
}
.navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 100%;
    line-height: 18px;
}
.navigation a, .navigation a:hover {
    color: #575757 !important;
    text-decoration: none;
}
.navigation a {
    display: block;
}
.navigation .nav .nav-main ul li .menu-left {
    display: block !important;
    min-height: inherit !important;
    padding: 0 15px;
    height: 100%;
    position: relative;
}
.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right {
    position: relative;
    left: 0;
    width: 100%;
    border: none;
    opacity: 1;
    visibility: visible;
}
.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent {
    position: relative;
}
.navigation .level0 .menu-left > ul.menu-links{
    padding: 0;
}
.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent > a {
    font-weight: 600;
}
.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent .plus-icon {
    float: right;
    padding: 10px;
    color: #575757;
    position: absolute;
    right: 10px;
    top: 2px;
}

.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent .menu-right .menu-links-right .first-level ul > li {
    position: relative;
    margin-bottom: 10px;
}
.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent .menu-right .menu-links-right .first-level ul > .level1 > a {
    font-weight: 600;
}
.navigation .nav .nav-main ul li .menu-left ul.menu-links .menu-parent .menu-right .menu-links-right .first-level ul > li > a {
    display: inline-block;
}
.nav-main {
    width: 100%;
}

.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level > ul {
    width: 100%;
    flex-basis: 100%;
    padding: 0;
}

.navigation .level0 .menu-left > ul.menu-links > li.menu-parent .menu-right .menu-links-right .first-level {
    flex-wrap: wrap;
}
.header.content .right-container-wrap {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.header.content .right-container-wrap .minicart-wrapper {
    order: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    margin-top: 5px;
}
.page-header.mobil-header .action.showcart .text, span.counter-label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.header.content .right-container-wrap .minicart-wrapper .action.showcart:before {
    width: 20px;
}
.header.content .right-container-wrap .minicart-wrapper .action.showcart .counter.qty {
    background: transparent;
    color: #ffffff;
    top: 5px;
    right: 0px;
}
.page-header.mobil-header .minicart-wrapper .block-minicart {
    width: 290px;
    float: right;
    background: #fff;
    display: none;
    bottom: 0;
    right: -100%;
    position: fixed;
    top: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 999;
    min-width: 290px;
    margin: 0;
    border: none;
    border-left: 1px solid #ccc;
    box-shadow: none;
    transform: translateX(0px);
}
.header .block.block-search {
    order: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    margin-top: 5px;
    margin-right: 10px;
    width: 100%;
    position: static;
}
.page-header.mobil-header .block-search .block-content {
    margin-bottom: 0;
    position: static;
}
.header .block.block-search.label:before {
    color: #ffffff;
    font-size: 30px;
}
.page-header.mobil-header .block-search .label > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.page-header.mobil-header .block.block-search .control {
    display: none;
    border-top: 0px;
    clear: both;
    margin: 0;
    padding: 0;
}
.page-header.mobil-header .block-search .label:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    content: "\f002";
    font-family: FontAWesome;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.page-header.mobil-header .block-search .label {
        text-decoration: none;
        display: inline-block !important;
        margin-bottom: 0;
 }

 .header .block.block-search .control input {
    box-shadow: none;
    left: 0;
    padding: 20px 12px;
    width: 100%;
    border: 1px solid #ccc;
    top: 100%;
    margin: 0;
    position: absolute;
    background: #fff;
}
.header .block.block-search .control input::placeholder{
    color:#000;
}
.header .block.block-search .control span.close-search {
    position: absolute;
    top: 100%;
    right: 30px;
    padding: 10px;
}
.header .block.block-search #search_autocomplete {
    left: 0;
    width: 100% !important;
    bottom: auto;
    top: 128px;
    border-top: 1px solid #ddd;
}
.header .block.block-search .actions .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    opacity: 1;
    top: 100%;
    z-index: 1;
}

.header .block.block-search .actions .action.search span {
    display: none;
}
.page-header.mobil-header ul {
    padding: 0;
}
.nav-sections .my-account {
    display: block;
    float: left;
    width: 100%;
}
.nav-sections .switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: .8rem 3.5rem .8rem 2rem;
}
.nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1;
}
.nav-sections .switcher .options {
    list-style: none;
}
.nav-sections .switcher .options li.switcher-option {
    margin: 20px 0 15px 0;
}
.nav-sections .switcher .options li.switcher-option a {
    background: #ff5041;
    color: #fff;
    padding: 8px 12px;
    display: inline-block;
}
.nav-sections .my-account li a {
    padding: 8px 40px 8px 15px;
}
.free-delivery-text-main {
    display: none;
}
.page-header.mobil-header .block-search .action.search::before {
    color: #ec4b3c;
}
}