
.after-shop {
    padding:60px 0;
    background: #ffffff;
}

.help-section {
    text-align: center;
}

.help-section h2 {
    font-size: 30px;
    color: #142D1E;
    font-weight: 500;
    margin: 0;
}

.help-section h3 {
    font-size: 20px;
    color: #142D1E;
    font-weight: 500;
    margin-top: 1rem;
}

.help-section ul {
    padding: 0;
}
.help-section ul li span {
    font-size: 20px;
    color: #142D1E;
    font-weight: 500;
    display: block;
}

.help-section ul li a {
    font-size: 16px;
    color: #142D1E;
    font-weight: 400;
    text-decoration: underline;
    transition: linear .3s;
}

.help-section ul li {
    padding-bottom: 10px;
}

@media only screen and (max-width:768px){

.help-section {
    padding-top: 20px;
}
.images img {
    display: inline-block;
    min-width: 119px;
    margin-right: 19px;
    width: 29%;
}
}