.newsletter-sec{
    padding: 60px 0;
}
.newsletter-explore .best-deals-title {
    font-size: 44px;
    color: #001432;
    font-weight: 500;
}

.newsletter-explore .subtext {
    display: block;
    margin-top: 8px;
    margin-bottom: 25px;
    text-align: left;
    margin: 10px 0;
}
.newsletter-explore .content {
    width: 100%;
    max-width: 260px;
}
.newsletter-explore .form.subscribe {
    width: 100%;
}

.newsletter-explore .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.newsletter-explore .control input {
    border: 2px solid #001432;
    height: 37px;
    color: #001432;
    width: 100%;
    line-height: 1.428571429;
}

.newsletter-explore .control label {
    width: 100%;
}

.newsletter-explore .actions button {
    padding: 0.7em 1em;
    margin: 10px 10px 10px 0;
    font-size: 15px;
    font-weight: 500;
    min-width: 110px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    user-select: none;
    text-align: center;
    transition: background 0.1s ease, color 0.1s ease, border 0.1s ease;
    background: #001432;
    border-color: #001432;
    color: white;
}

.best-deals-right {
    font-size: 18px;
    color: #001432;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding-top: 40px;
    position: relative;
}

.best-deals-right:before {
    background: url(../images/commas.svg) no-repeat;
    width: 36px;
    content: '';
    position: absolute;
    top: 0;
    height: 28px;
    text-align: center;
    left: 50%;
}