.explres-sec {
        padding: 60px 0px 0px;
        background-color: #e1ece4;
    }
.explres-sec .title h3 {
    font-size: 44px;
    font-weight: 500;
    color: #142D1E;
    max-width: 320px;
    width: 100%;
    line-height: 1;
    margin-bottom: 25px;
}

.explres-sec  .shop-btn {
    font-size: 20px;
    color: #142D1E;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: linear .1s;
}

.explres-sec .shop-btn:before {
    background: url(../images/long-arrow.svg) no-repeat;
    content: '';
    width: 23px;
    height: 12px;
    position: absolute;
    right: -35px;
    top: 10px;
    transition: linear .1s;
}
.explres-sec .shop-btn:hover:before {
    right: -40px;
}
.explres-sec .poutryimage {
    background: url('../images/poultry_1.png');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.handpciked-title {
    text-align: center;
}
.produts-display .nav.nav-pills.gallery-filters {
    padding: 0px 0 20px;
}
.handpciked-title h3 {
    color: #142D1E;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}
.product-slider {
    padding-bottom: 20px;
}