.product-wrapper {
    background: #fff;
    position: relative;
}
.product-display {
    background: #e1ece4;
    padding: 60px 0px 60px;
}

.product-display-head {
    text-align: center;
}

.product-display-head h3 {
    color: #142D1E;
    font-weight: 500;
    font-size: 44px;
}

.product-sub-head {
    color: #142D1E;
    font-weight: 500;
    font-size: 20px;
}
.nav.nav-pills.gallery-filters {
    padding: 30px 0;
    justify-content: center;
}

.nav.nav-pills.gallery-filters li a {
    background: transparent;
    border: none;
    padding: 0;
    color: rgba(20, 45, 30, 0.4);
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    text-decoration: none;
}

.nav.nav-pills.gallery-filters li.active a {
    color: #142d1e;
    font-weight: 600;
}
.nav.nav-pills.gallery-filters li:hover a {
    color: #142d1e;
}
.product-desc h4 {
    min-height: 34px;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
    color: #001331;
}

.product-desc {
    padding: 10px;
    }
.product-desc .product-price {
    min-height: 53.3px;
    position: relative;
}
.product-wrapper .product-desc .product-price .price {
    font-size: 18px;
    font-weight: 700;
    color: #001331;
}
.product-wrapper .product-wrapper-container .product-hover {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 100;
    margin: 0;
}
.product-wrapper .product-wrapper-container .product-hover ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist {
    transition: opacity 300ms linear 0s;
}

.product-wrapper .product-wrapper-container .product-hover ul li {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    flex-basis: 100%;
    padding: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: center;
}
.product-wrapper:hover .product-wrapper-container .product-hover ul li{
opacity: 1;
}
.product-wrapper:hover .product-wrapper-container .product-hover ul li{
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 300ms linear 0s;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist a {
    background: url(../images/wishlist.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.quickview a {
    background: url(../images/quickview.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.quickview:hover a{
    background: url(../images/quickview-blue.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist:hover a{
    background: url(../images/wishlist-blue.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper a, .product-wrapper .product-img {
    display: block;
    width: 100%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}
 .product-wrapper .product-wrapper-container .product-hover ul li.add-to-cart {
    display: none;
}

@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  .gallery-img-holder {
    padding: 0 5px;
}
.product-desc .product-name a:hover {
    text-decoration: none;
    color: #ec4b3c;
}
.product-wrapper-container {
    overflow: hidden;
}
.product-wrapper-container:hover .product-img {
    transform: scale(1.1, 1.1) translateZ(0);
    -webkit-transform: scale(1.1, 1.1) translateZ(0);
    -moz-transform: scale(1.1, 1.1) translateZ(0);
    -ms-transform: scale(1.1, 1.1) translateZ(0);
    -o-transform: scale(1.1, 1.1) translateZ(0);
}
.shop-all-button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px 0 0;
}

.shop-all-button a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #142D1E;
    text-align: center;
    float: none;
    width: 147px;
    height: 37px;
    line-height: 37px;
    border: 2px solid #142D1E;
    margin: 30px auto 0px;
    transition: linear .2s;
    text-decoration: none;
}
.shop-all-button a:hover {
    text-decoration: none;
    background: rgba(20, 45, 30, 0.15);
}

.shopby {
    padding: 60px 0;
    background-color: rgb(0, 19, 49);
}

.shopbyhead {
    text-align: center;
}

.shopbyhead h3 {
    color: #fff;
}

.pick-cart-items {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.pick-cut-img {
    min-height: 138px;
    max-width: 138px;
    margin: auto;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.pick-cart-items li {
    width: 16.66%;
    margin-bottom: 0;
}
.title-name:hover {
    color: #ff5041;
}

.title-name {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
}
.pick-cart-items a {
    text-decoration: none;
}
.title-name {
    text-align: center;
}
.pick-cart-items a:hover .pick-cut-img img {
    filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -webkit-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -ms-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -o-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -moz-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    transition: linear .1s;
}