.product-info-main .page-title-wrapper .page-title {
    line-height: 44px;
    font-size: 44px;
    color: #001432;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: left;

}
.product-reviews-summary.empty {
    margin-left: 0;
}
.product-reviews-summary {
    display: table;
    margin: 10px 0 25px;
}
.product-info-main .price-box {
    margin-top: 3px;
}
.product-reviews-summary .reviews-actions a {
    margin-right: 5px;
    font-size: 14px;
    color: #001331;
}
.product-info-main .price-box {
    margin-top: 3px;
}
.product-info-main .price-box .weee .price{
    font-size: 2.2rem;
    color: #001432;
    font-weight: 400;
}
.swatch-attribute-label {
    font-weight: 400;
    position: relative;
    font-size: 15px;
    color: #001432;
}
.swatch-option {
    border: 1px solid #a0b9c8;
    cursor: pointer;
    float: left;
    height: 25px;
    margin-bottom: 15px;
    max-width: 54%;
    min-width: 30px;
    overflow: hidden;
    padding: 1px 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 700;
}
.product-options-bottom .box-tocart  .fieldset {
    display: flex;
}

.product-info-main .box-tocart .fieldset .field.qty .control, .product-options-bottom .box-tocart .fieldset .field.qty .control {
    max-width: 150px;
    background: #e2eaee;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 52px;
}
.product-info-main .box-tocart .fieldset .field.qty .control button, .product-options-bottom .box-tocart .fieldset .field.qty .control button {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    background: #e2eaee;
}
.product-info-main .box-tocart .fieldset .field.qty .control .input-text, .product-options-bottom .box-tocart .fieldset .field.qty .control .input-text {
    border: 0;
    background: #e2eaee;
    padding: 0;
    width: calc(100% - 85.15px);
    opacity: 1;
    font-size: 16px;
    color: #001432;
    height: 50px;
    text-align: center;
    font-weight: 400;
}
.product-info-main .box-tocart .fieldset .field.qty .control button span, .product-options-bottom .box-tocart .fieldset .field.qty .control button span {
    color: #0f1735;
    font-size: 22px;
}
.product-info-main .product_manufacture {
    margin: 25px 0 15px 0;
}
.product-info-main .product_manufacture h3 {
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
}

.product-info-main .product.attribute.overview {
    margin: 17px 0 34px 0;
    font-size: 14px;
}
.product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty {
    padding-right: 15px;
}
.product-info-main .box-tocart .box-tocart-right ul li.wishlist a, .product-options-bottom .box-tocart .box-tocart-right ul li.wishlist a {
    background-image: url(../images/wishlist.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
.product-info-main .box-tocart .box-tocart-right ul li a, .product-options-bottom .box-tocart .box-tocart-right ul li a {
    width: 52px;
    height: 52px;
    display: block;
    background: #e2eaee;
    border-radius: 50%;
}
.product-info-main .box-tocart .box-tocart-right ul li.wishlist:hover a, .product-options-bottom .box-tocart .box-tocart-right ul li.wishlist:hover a {
    background-image: url(../images/wishlist-blue.svg);
}
.product-discription-tab {
    padding: 30px 0;
}

.product-discription-tab .nav-pills .nav-link.active, .product-discription-tab .nav-pills .show>.nav-link {
    font-size: 15px;
    font-weight: 400;
       color: #001432;
    padding: 3px 0;
    transition: linear .3s;
    text-decoration: none;
    background: transparent;
}

.product-discription-tab .nav-link {
      font-size: 15px;
    font-weight: 400;
    color: rgba(0, 20, 50, 0.4);
    padding: 3px 0;
    transition: linear .3s;
    text-decoration: none;
    background: transparent;  
    margin-bottom:10px;
}
.nutritional-circle-main .nutritional-circle-conatiner {
    margin-right: 30px;
}
.nutritional-circle-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 0px;
}
.nutritional-circle-main .nutritional-circle-conatiner span {
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    display: block;
    width: 100%;
    margin:20px 0;
}
.nutritional-circle-main .nutritional-circle-conatiner #calories, .nutritional-circle-main .nutritional-circle-conatiner #protein, .nutritional-circle-main .nutritional-circle-conatiner #sat {
    max-width: 160px;
    width: 100%;
    position: relative;
}
.nutritional-circle-main .nutritional-circle-conatiner #calories .progressbar-text, .nutritional-circle-main .nutritional-circle-conatiner #protein .progressbar-text, .nutritional-circle-main .nutritional-circle-conatiner #sat .progressbar-text {
    font-size: 21px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.nutritional-circle-main .nutritional-circle-conatiner #calories .progressbar-text .dv-text, .nutritional-circle-main .nutritional-circle-conatiner #protein .progressbar-text .dv-text, .nutritional-circle-main .nutritional-circle-conatiner #sat .progressbar-text .dv-text {
    margin-top: 25px;
}
.nutritional-circle-conatiner {
    width: 33.33%;
}

.progressbar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}
.fade.Nutritional.Information.tab-pane table{
    max-width: 372px;
    float: right;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.Nutritional.Information table tbody tr td {
    font-size: 14px;
    color: #001432;
    font-weight: 400;
    padding: 4px 20px;
}
.cooking-method ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    padding-top: 40px;
}
 .cooking-method ul li {
    margin-bottom: 0;
    padding-right: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
 .cooking-method ul li a .image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    height: 65px;
    min-height: 100%;
}
 .cooking-method ul li a .image img {
    max-width: 45px;
    width: 100%;
}
.cooking-method ul li a h4 {
    font-size: 15px;
    color: #001432;
    font-weight: 400;
    margin: 15px 0;
}

.tab-content-sec {
    clear: both;
}

.cooking-method span {
    display: block;
}
.cooking-method span {
    font-size: 16px;
    color: #001432;
    font-weight: 500;
}

.discription-box.cooking-content {
    width: 70%;
}

.discription-box.cooking-content .disc-title h3 {
    color: #001432;
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
}
.cooking-method ul li a .image img:hover {
    filter: grayscale(100%) brightness(340%) sepia(140%) hue-rotate(-50deg) saturate(1190%) contrast(0.8);
    -webkit-filter: grayscale(100%) brightness(340%) sepia(140%) hue-rotate(-50deg) saturate(1190%) contrast(0.8);
    -moz-filter: grayscale(100%) brightness(340%) sepia(140%) hue-rotate(-50deg) saturate(1190%) contrast(0.8);
    -ms-filter: grayscale(100%) brightness(340%) sepia(140%) hue-rotate(-50deg) saturate(1190%) contrast(0.8);
    -o-filter: grayscale(100%) brightness(340%) sepia(140%) hue-rotate(-50deg) saturate(1190%) contrast(0.8);
}
.cooking-method ul li a:hover{
    color: #ec4b3c;
    text-decoration: none;
}
.cooking-method ul li a .image p {
    margin: 0;
}
.product-full-width-section.product-reviews-container {
    border-top: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
}
.product-full-width-section.product-reviews-container h2 {
    margin: 0;
    font-weight: 300;
    line-height: 1.1;
    font-size: 1.6rem;
}
.review-ratings ~ .review-content, .review-ratings ~ .review-details {
    margin-left: 280px;
}
.review-list {
    margin-bottom: 30px;
}
.review-item {
    padding: 30px 0;
}
.review-title {
    margin: 0 0 30px;
}
.review-ratings {
    float: left;
    margin-bottom: 0;
    max-width: 240px;
        display: table;
}
.rating-summary {
    overflow: hidden;
    white-space: nowrap;
}
.rating-summary .rating-label {
    padding-right: 10px;
}
.review-title {
    margin: 0 0 30px;
}
.review-item {
    border-bottom: 1px solid #c9c9c9;
}
.review-details .review-details-label {
    padding-right: 5px;
}
.review-details .review-title {
    font-size: 18px;
}
.fieldset .review-legend.legend {
    font-size: 18px;
    margin-bottom: 10px;
}
.review-form .review-fieldset .review-legend strong {
    margin-top: 10px;
}
.review-form {
    max-width: 500px;
}

.fieldset .review-legend.legend span {
    display: block;
}
.review-form .review-fieldset .review-legend strong {
    margin-top: 10px;
}
fieldset.field.required.review-field-ratings legend.label:after, .field.required .label:after {
    content: '*';
    color: #e02b27;
    font-size: 13px;
    margin: 0 0 0 5px;
}

fieldset.field.required.review-field-ratings legend {
    font-size: 18px;
}
.review-field-ratings .review-field-rating {
    display: table-row;
}
.review-field-ratings .review-field-rating .label {
    padding-right: 10px;
    padding-top: 0px;
}
.review-control-vote:before {
    color: #c7c7c7;
    font-family: FontAwesome;
    font-size: 20px;
    height: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    display: block;
    position: absolute;
    z-index: 1;
}

.review-control-vote input[type="radio"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.review-control-vote .rating-1 {
    z-index: 6;
}

.review-control-vote label {
    cursor: pointer;
    display: block;
    position: absolute;
}
.review-control-vote .rating-1:before {
    content: '\f005';
}
.review-control-vote label:before {
    color: #ff5041;
     font-family: FontAwesome;
     font-size: 20px;
     height: 20px;
     letter-spacing: 2px;
     line-height: 20px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
}
.review-control-vote .rating-2:before {
    content: '\f005' '\f005';
}
.review-control-vote .rating-3:before {
    content: '\f005' '\f005' '\f005';
}
.review-control-vote .rating-4:before {
    content: '\f005' '\f005' '\f005' '\f005';
}
.review-control-vote .rating-5:before {
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
}
.review-control-vote label span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.control {
    padding-top: 2px;
}
.review-field-ratings .review-field-rating .label, .review-field-ratings .review-field-rating .control {
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: top;
}
.review-field-rating .control {
    margin-bottom: 48px;
    margin-top: 10px;
}
.review-control-vote {
    overflow: hidden;
}

.field.review-field-nickname.required {
    clear: both;
}

.review-control-vote label:hover:before {
    opacity: 1;
}
.review-control-vote input[type="radio"]:hover + label:before, .review-control-vote input[type="radio"]:checked + label:before {
    opacity: 1;
}

.review-control-vote .rating-2 {
    z-index: 5;
}
.review-control-vote .rating-3 {
    z-index: 4;
}
.review-control-vote .rating-4 {
    z-index: 3;
}
.review-control-vote .rating-5 {
    z-index: 2;
}
.fieldset > .field:not(.choice) > .label {
    padding: 0px 0px 6px 0;
    text-align: inherit;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #001432;
    font-weight:700;
}
.fieldset > .field {
    margin: 0 0 29px;
}
.row.gallery-images.related-products .product-desc h4 {
    padding-left: 0 !important;
}
.block.related .block-title {
    text-align: center;
    margin-bottom: 30px;
}
.block.related .block-title h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    margin: 0;
    color: #142D1E;
    font-weight: 500;
    font-size: 44px;
}
.block.related .block-title span {
    color: #142D1E;
    font-weight: 500;
    font-size: 20px;
}
@media only screen and (max-width:768px){
    .product-options-bottom .action.primary {
        width: 160px;
    }
    
    .box-tocart-right ul {
        padding: 0 10px;
        margin: 0;
    }
    
    .flex-column.nav.nav-pills {
        flex-direction: row !important;
    }
    
    .flex-column.nav.nav-pills .nav-item {
        padding: 0 5px;
    }
    
    .product-discription-tab .nav-link {
        font-size: 13px;
    }
    
    .product-discription-tab .nav-pills .nav-link.active, .product-discription-tab .nav-pills .show > .nav-link {
        font-size: 13px;
    }
    
    .rating-summary .rating-result > span:before {
        height: 18px;
    }
    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 210px;
    }
    
    .product-info.product-info-main {
        text-align: center;
        padding: 20px 0;
    }
    
    .product-info-main .page-title-wrapper .page-title {
        text-align: center;
    }
    
    .product-reviews-summary {
        display: flex;
        justify-content: center;
    }
    
    .swatch-attribute-options.clearfix {
        padding: 20px 0;
    }
    
    .swatch-option {
        float: none;
    }
    
    .discription-box h3 {
        color: #001432;
        font-size: 26px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .nutritional-circle-conatiner {
        width: 100%;
        margin: 20px 0;
    }
    
    .nutritional-circle-main {
        flex-direction: column;
    }
    
    .nutritional-circle-main .nutritional-circle-conatiner #calories, .nutritional-circle-main .nutritional-circle-conatiner #protein, .nutritional-circle-main .nutritional-circle-conatiner #sat {
        max-width: 70%;
        margin: auto;
    }
    
    .discription-box.cooking-content {
        width: 100%;
    }
    
    .cooking-method ul li {
        width: 33.33%;
        padding: 0 10px;
    }
    
    .cooking-method ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}