.page-title-wrapper h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    color: #001432;
    margin-bottom: 35px;
}
.product-wrapper {
    background: #fff;
    position: relative;
}
.product-display {
    background: #e1ece4;
    padding: 60px 0px 60px;
}

.product-display-head {
    text-align: center;
}

.product-display-head h3 {
    color: #142D1E;
    font-weight: 500;
    font-size: 44px;
}

.product-sub-head {
    color: #142D1E;
    font-weight: 500;
    font-size: 20px;
}

.product-desc h4 {
    min-height: 34px;
    margin: 0;
    padding: 5px 10px !important;
    font-size: 16px;
    font-weight: 700;
    color: #001331;
}

.product-desc .product-price {
    min-height: 53.3px;
    position: relative;
}
.product-wrapper .product-desc .product-price .price {
    font-size: 18px;
    font-weight: 700;
    color: #001331;
}
.product-display.shop-page-product .product-wrapper .product-wrapper-container .product-hover {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 100;
    margin: 0;
}
.product-wrapper .product-wrapper-container .product-hover ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist {
    transition: opacity 300ms linear 0s;
}

.product-wrapper .product-wrapper-container .product-hover ul li {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    flex-basis: 100%;
    padding: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: center;
}
.product-wrapper:hover .product-wrapper-container .product-hover ul li{
opacity: 1;
}
.product-wrapper:hover .product-wrapper-container .product-hover ul li{
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 300ms linear 0s;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist a {
    background: url(../images/wishlist.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.quickview a {
    background: url(../images/quickview.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.quickview:hover a{
    background: url(../images/quickview-blue.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper .product-wrapper-container .product-hover ul li.wishlist:hover a{
    background: url(../images/wishlist-blue.svg);
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.product-wrapper a, .product-wrapper .product-img {
    display: block;
    width: 100%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}
 .product-wrapper .product-wrapper-container .product-hover ul li.add-to-cart {
    display: none;
}
.product-wrapper  .custom-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}
@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  .product-display.shop-page-product .gallery-img-holder {
    padding: 0 10px;
}
.product-desc .product-name a:hover {
    text-decoration: none;
    color: #ec4b3c;
}
.product-wrapper-container {
    overflow: hidden;
}
.product-wrapper-container:hover .product-img {
    transform: scale(1.1, 1.1) translateZ(0);
    -webkit-transform: scale(1.1, 1.1) translateZ(0);
    -moz-transform: scale(1.1, 1.1) translateZ(0);
    -ms-transform: scale(1.1, 1.1) translateZ(0);
    -o-transform: scale(1.1, 1.1) translateZ(0);
}
.shop-all-button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px 0 0;
}

.shop-all-button a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #142D1E;
    text-align: center;
    float: none;
    width: 147px;
    height: 37px;
    line-height: 37px;
    border: 2px solid #142D1E;
    margin: 30px auto 0px;
    transition: linear .2s;
    text-decoration: none;
}
.shop-all-button a:hover {
    text-decoration: none;
    background: rgba(20, 45, 30, 0.15);
}

.shopby {
    padding: 60px 0;
    background-color: rgb(0, 19, 49);
}

.shopbyhead {
    text-align: center;
}

.shopbyhead h3 {
    color: #fff;
}

.pick-cart-items {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.pick-cut-img {
    min-height: 138px;
    max-width: 138px;
    margin: auto;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.pick-cart-items li {
    width: 16.66%;
    margin-bottom: 0;
}
.title-name:hover {
    color: #ff5041;
}

.title-name {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
}
.pick-cart-items a {
    text-decoration: none;
}
.title-name {
    text-align: center;
}
.pick-cart-items a:hover .pick-cut-img img {
    filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -webkit-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -ms-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -o-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    -moz-filter: grayscale(100%) brightness(25%) sepia(300%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
    transition: linear .1s;
}
.customize-icon {
    margin: 10px 0;
    min-height: 22px;
}
.customize-icon a {
    display: inline-block;
    width: auto;
    color: #ff5041;
    font-size: 16px;
    font-weight: 500;
}
.customize-icon a span {
    padding: 0 10px;
}
.product-desc .review-container {
    min-height: 38px;
}
.product-reviews-summary {
    display: table;
    margin: 0px 0 10px;
}
.product-item .product-reviews-summary .rating-summary {
    margin: 0 4px 0 0;
}
.product-reviews-summary .rating-summary {
    display: table-cell;
    left: 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
.rating-summary {
    overflow: hidden;
    white-space: nowrap;
}
.product-reviews-summary .rating-summary .label, .table-reviews .rating-summary .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rating-summary .rating-result {
    width: 100px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #c7c7c7;
    font-family: FontAwesome;
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 18px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 18px;
}
.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
}
.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #ff5041;
    font-family: FontAwesome;
    font-size: 18px;
    height: 28px;
    letter-spacing: 1px;
    line-height: 18px;
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.rating-summary .rating-result > span span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.product-reviews-summary .reviews-actions {
    font-size: 12px;
    margin-top: 0px;
    vertical-align: middle;
    padding: 0 !important;
}
.product-items-actions .field.qty {
    padding: 0 10px;
}
.product-items-actions .field.qty {
    width: 100%;
}
.product-items-actions .field.qty .control.qty-change {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.product-items-actions .field.qty .control.qty-change button{
    padding: 0 !important;
    background: none;
    color: #000;
    min-width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    line-height:33px;
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
    border-color: #000;
    display: inline-block;
}
.product-items-actions .field.qty .control.qty-change input {
    border: 0;
    background: #fff;
    padding: 0;
    width: 60px;
    opacity: 1;
    font-size: 16px;
    color: #001432;
    font-weight: 400;
    height: 33px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    margin: 0 15px;
}
.price-box.price-final_price span {
    display: block;
}

.price-box.price-final_price .average-weight {
    font-size: 14px;
}
.product-display.shop-page-product .product-wrapper .custom-options {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
}
.product-display.shop-page-product .product-wrapper .custom-options select{
    margin: 0 15px;
    width: 70px;
        font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 5px 10px 4px;
    vertical-align: baseline;
}

.product-display.shop-page-product .product-wrapper .custom-options label {
    font-size: 14px;
}

.product-display.shop-page-product .product-wrapper .custom-option-container {
    padding: 15px 10px;
}

.product-display.shop-page-product .product-wrapper .action.tocart.primary {
    max-width: 100%;
    width: 82%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    font-size: 18px;
    position: relative;
    bottom: 0;
}

.product-display.shop-page-product .product-wrapper .actions-secondary.wishlist {
    margin: 0;
    padding: 0;
    background: #e2eaee;
    width: 20%;
    min-width: 20%;
    text-align: center;
    height: 45px;
    line-height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-display.shop-page-product .product-wrapper .actions-secondary.wishlist span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.product-display.shop-page-product .product-wrapper .actions-secondary.wishlist a {
    background: url(../images/wishlist.svg);
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 40px;
}

.product-display.shop-page-product .product-wrapper .product-desc {
    padding: 0px;
}
.product-display.shop-page-product .customize-icon, .product-display.shop-page-product .product-name, .product-display.shop-page-product .review-container, .product-display.shop-page-product .product-desc .product-price{
    padding: 0 10px;
}
.product_sticker {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.product-wrapper-container {
    position: relative;
}
.product_sticker .sticker-label {
    font-size: 13px;
    font-weight: 400;
    min-width: 60px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    z-index: 100;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #3cab60;
    color: #fff;
}
.product_sticker .sticker-label.Milk {
    background: #e4ecf0;
    color: #001331;
    left: 60px;
}
.images {
    padding-top: 40px;
    padding-left: 26px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.images img {
    display: inline-block;
    min-width: 175px;
    margin-right: 55px;
    width: 29%;
}

.block.filter {
    padding-top: 16px;
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.block.filter .filter-title strong {
    font-size: 14px;
    color: #001432;
    font-weight: 400;
    user-select: none;
}
.filter-content .filter-options {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.filter-content .filter-options .filter-list {
    margin-left: 40px;
    position: relative;
}
.filter-content .filter-options .filter-options-title {
    font-size: 14px;
    color: #001432;
    font-weight: 400;
    position: relative;
    word-break: break-all;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}
.filter-content .filter-options .filter-options-title:after {
    content: '\f107';
    font-family: FontAwesome;
    padding-left: 7px;
    font-weight: 400;
    font-size: 16px;
    vertical-align: middle;
    line-height: 1;
}
.filter-options .filter-list.active:after {
    border: 8px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #fff;
    bottom: -1px;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    z-index: 3;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.filter-content .filter-options .filter-options-content {
    position: absolute;
    min-width: 230px;
    margin-bottom: 0;
    background: #fff;
    z-index: 1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.filter-content .filter-options .filter-options-content .item {
    margin: 0;
    cursor: pointer;
    display: block;
}
.filter-options .filter-options-content .item a {
    font-size: 13px;
    color: #001331;
    text-align: left;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    padding: 0.5em 0.75em;
    display: block;
}
.filter-content .filter-options .filter-options-content .item a .count {
    color: #b9b9b9;
}
.total-product-counter span {
    font-size: 13px;
    color: #001432;
    font-weight: 400;
}
.toolbar-products {
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
}
.counter-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pages .items {
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none none;
    display: inline-block;
    font-weight: 700;
}
.modes-mode span {
    display: none;
}
.pages > .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.pages .items {
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none none;
    display: inline-block;
    font-weight: 700;
}
.sorter {
    float: right;
    position: relative;
    padding-left: 25px;
}
.sorter label {
    font-size: 14px;
    color: #001432;
    font-weight: 400;
    padding-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    margin:0;
}
.sorter label .fa {
    padding-left: 10px;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}
.sorter-options {
    width: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    z-index: 99;
    display: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 8px;
}
.sorter-options option {
    margin: 0;
    font-size: 14px;
    color: #001331;
    text-align: left;
    padding: 0.5em 0.75em;
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
}