.store-item .store-desc {
    color: #001432;
    font-size: 16px;
}
.address-title {
    text-align: center;
    padding: 30px 0;
}

.address-title h2 {
    font-size: 44px;
    color: #001432;
    font-weight: 600;
}

 .address-title span {
    color: #001432;
    font-weight: 500;
    font-size: 20px;
}

.store-name {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
}

.store-desc {
    padding: 20px 0;
    font-size: 16px;
}

.zip-code {
    margin-bottom: 20px;
}