.owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
.banner-slider-content {
    position: absolute;
    bottom: 120px;
    left: 58px;
    width: 100%;
    max-width: 415px;
    z-index: 1;
}
.banner-slider-content h1 {
    font-weight: 500;
    color: #ffffff;
    font-size: 56px;
    margin-bottom: 15px;
}
.banner-slider-content p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.banner-slider-content .banner-slider-btn {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.banner-slider-content .banner-slider-btn {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.banner-slider-content .banner-slider-btn .banner-btn {
    padding: 7px 34.7px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.banner-slider .banner-slider-content.light-theme h1 {
    color: #001432;
  }
  .banner-slider .banner-slider-content.light-theme p {
    color: #001432;
  }

.banner-slider .banner-slider-content.light-theme .banner-slider-btn .banner-btn.shop-now {
    background: #001432;
    color: #ffffff;
    border: 1px solid transparent;
  }
  .banner-slider .banner-slider-content.light-theme .banner-slider-btn .banner-btn.shop-now:hover {
    background: #0f3d80;
  }
  .banner-slider .banner-slider-content.light-theme .banner-slider-btn .banner-btn.about-us {
    background: transparent;
    border: 1px solid #001432;
    color: #001432;
  }
  .banner-slider .banner-slider-content.light-theme .banner-slider-btn .banner-btn.about-us:hover {
    background: rgba(255, 255, 255, 0.15);
  }
.banner-slider .owl-item.active{
    animation: zoomin 20s ease-in forwards;
    transform-origin: top left;
  }
  
  @keyframes zoomin {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  .top-images-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    min-height: 320px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-self: stretch;
    padding: 60px;
}
.makaninext {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: rgb(159, 185, 200);
  background-position: right bottom;
  background-size: auto;
  background-image: url(../images/poultry.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  min-height: 320px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  align-self: stretch;
}
.makani-about-next {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: rgb(159, 185, 200);
  background-position: right bottom;
  background-size: auto;
  background-image: url(../images/friesblock2.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  min-height: 320px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  align-self: stretch;
}
.makaninextthird{
 justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: rgb(159, 185, 200);
  background-position: right bottom;
  background-size: auto;
  background-image: url(../images/shrimpblock2.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  min-height: 320px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  align-self: stretch; 
}
.makaninextfourth{
  justify-content: flex-start;
   display: flex;
   flex-direction: column;
   background-color: rgb(159, 185, 200);
   background-position: right bottom;
   background-size: auto;
   background-image: url(../images/grillchef.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   border-style: none;
   border-width: 1px;
   border-radius: 0px;
   min-height: 320px;
   width: 100%;
   margin: 0px;
   padding: 0px;
   align-self: stretch; 
 }
.pd-0 {
  padding: 0 !important;
}
.top-images-content h2 {
  font-size: 26px;
  font-weight: 500;
  color: #001432;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.top-images-content p {
  font-size: 16px;
  color: #001432;
  font-weight: 500;
}

.top-images-content a {
  font-size: 20px;
  color: #001432;
  font-weight: 500;
  display: inline-block;
  margin-top: 5px;
  position: relative;
  transition: linear .1s;
}
.top-images-content a:hover{
  text-decoration: none;
  color: #001432;
}

.top-images-content a:after {
  background: url(../images/long-arrow.svg) no-repeat;
  content: '';
  width: 23px;
  height: 12px;
  position: absolute;
  right: -35px;
  top: 10px;
  transition: linear .1s;
}
.top-images-content a:hover:after{
  right: -40px;
}
.top-images-content.greenbg {
  background-color: rgb(21, 45, 31);
}
.top-images-content.bluebg {
  background-color: rgb(0, 19, 49);
}
.top-images-content.greenbg a:after, .top-images-content.bluebg a:after {
  background: url(../images/long-arrow-white.svg) no-repeat;
}
.top-images-content.bluebg a:hover:after, .top-images-content.greenbg a:hover:after{
  background: url(../images/long-arrow-red.svg) no-repeat;
}
.top-images-content.greenbg p, .top-images-content.bluebg p, .top-images-content.greenbg a, .top-images-content.bluebg a {
  color: #fff;
}
.top-images-content.bluebg a:hover, .top-images-content.greenbg a:hover{
  color: #ff5041;
}
.wedohome {
  padding: 60px 0;
}

.wedohome h2 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: 44px;
  font-weight: 500;
  color: #142d1e;
}

.makani-icon img {
  min-width: 116px;
  width: 27%;
  height: 100px;
}

.makani-icon {
  text-align: center;
}

.makani-icon h4 {
  color: #142d1e;
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
}